<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LiveToCreate</title>
    <meta name="viewport" content="user-scalable=no" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/index-style.css">
    <link rel="stylesheet" href="./css/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="./css/grids-responsive-min.css">
    <!--<![endif]-->
</head>

<body>
    <div id="menu" class="light">
        <ul class="topnav" id="topnav">
            <li class="logo"><a href="#block-first">L2C</a></li>
            <li><a href="#block-about">О НАС</a></li>
            <li><a href="#block-timeline">ЭТАПЫ</a></li>
            <li><a href="#block-services">УСЛУГИ</a></li>
            <li><a href="#block-portfolio">ПОРТФОЛИО</a></li>
            <li class="order"><a href="#footer-mark">ЗАКАЗАТЬ</a></li>
            <li class="icon">
                <a id="menu-toggle"><span class="icon-menu"></span></a>
            </li>
        </ul>
    </div>
    <div class="content-vertical">
        <div id="block-first">
            <div id="greeting-text" style="text-transform: uppercase">L2C - выводим Ваш бизнес в онлайн</div>

            <div class="white-area left"></div>
            <div class="white-area right"></div>
            <div class="white-area middle"></div>
        </div>
        <div id="block-about">
            <div class="content">
                <h1 class="title"><span>ВАМ НУЖНО ЗНАТЬ, ЧТО МЫ - ЭТО...</span></h1>
                <div class="pure-g">
                    <div class="pure-u-1" align="center">
                        <div class="about-item top">
                            <div class="connection left"></div>
                            <div class="connection right"></div>
                            <div class="circle">
                                <div class="circle-inner">
                                    <div class="circle-wrapper">
                                        <div class="circle-content">
                                            <h1>Надёжность</h1>Готовы к длительному сотрудничеству. 24/7 на связи с Вами.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-3">
                        <div class="about-item left">
                            <div class="connection right"></div>
                            <div class="circle">
                                <div class="circle-inner">
                                    <div class="circle-wrapper">
                                        <div class="circle-content">
                                            <h1>Качество</h1>Наша работа соответсвует Вашим ожиданиям, изложенным в техническом задании.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-3">
                        <div class="about-item middle">
                            <div class="circle">
                                <div class="circle-inner">
                                    <div class="circle-wrapper">
                                        <div class="circle-content">
                                            <h1>Яндекс.Директ</h1>Ваш сайт в ТОПе Яндекса. Мы занимаемся продвижением только в Яндекс.Директ и делаем это на 100% качественно.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-3">
                        <div class="about-item right">
                            <div class="connection left"></div>
                            <div class="circle">
                                <div class="circle-inner">
                                    <div class="circle-wrapper">
                                        <div class="circle-content">
                                            <h1>Лояльность</h1>3 месяца обслуживания в подарок! Скидки от партнёров.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1" align="center">
                        <div class="about-item bottom">
                            <div class="circle">
                                <div class="circle-inner">
                                    <div class="circle-wrapper">
                                        <div class="circle-content">
                                            <h1>Знания</h1>Мы знаем как поднять ваш бизнес на новый уровень с помощью web-технологий.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h3 id="about-addition"><span>А ещё:</span> SEO оптимизация, адаптация под мобильные устройства, быстрая загрузка сайта, уникальный контент, подключение метрик, контроль качества на всех этапах, соблюдение сроков и анализ Ваших бизнес-процессов.</h3>
                <br>
            </div>
        </div>
        <div id="block-timeline">
            <div class="content">
                <h1 class="title"><span>ЭТАПЫ РАБОТЫ НАД ВАШИМ ПРОЕКТОМ</span></h1>
                <br>
                <div id="monitor" class="screen monitor disabled">
                    <div class="monitor-content">
                        <div id="development-timeline">
                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-stats-bars"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 1</h2>
                                    <p>Анализируем Вашу целевую аудиторию и сферу Вашего бизнеса.</p>
                                </div>
                            </div>
                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-paste"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 2</h2>
                                    <p>Составляем техническое задание вместе с Вами.</p>
                                </div>
                            </div>
                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-stack"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 3</h2>
                                    <p>Создаём дизайн и согласовываем его с Вами, вносим правки.</p>
                                </div>
                            </div>
                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-embed2"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 4</h2>
                                    <p>Разрабатываем проект.</p>
                                </div>
                            </div>
                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-meter"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 5</h2>
                                    <p>Проводим проверку качества.</p>
                                </div>
                            </div>
                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-user-check"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 6</h2>
                                    <p>Обучаем Вас управленю Вашим проектом.</p>
                                </div>
                            </div>
                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-trophy"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 7</h2>
                                    <p>Сдаём проект. По Вашему желанию заключаем договор на обслуживание.</p>
                                    <span>2 месяца обслуживания в подарок!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="monitor-disabled"></div>
                    <div class="base">
                        <div class="grey-shadow"></div>
                        <div class="foot top"></div>
                        <div class="foot bottom"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="block-services">
            <div class="content">
                <h1 class="title"><span>НАШИ УСЛУГИ</span></h1>
                <br>
                <br>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3 img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 486 486" xml:space="preserve" class="svg pure-img replaced-svg">
                                    <g>
                                        <path id="XMLID_49_" d="M298.4,424.7v14.2c0,11.3-8.3,20.7-19.1,22.3l-3.5,12.9c-1.9,7-8.2,11.9-15.5,11.9h-34.7   c-7.3,0-13.6-4.9-15.5-11.9l-3.4-12.9c-10.9-1.7-19.2-11-19.2-22.4v-14.2c0-7.6,6.1-13.7,13.7-13.7h83.5   C292.3,411,298.4,417.1,298.4,424.7z M362.7,233.3c0,32.3-12.8,61.6-33.6,83.1c-15.8,16.4-26,37.3-29.4,59.6   c-1.5,9.6-9.8,16.7-19.6,16.7h-74.3c-9.7,0-18.1-7-19.5-16.6c-3.5-22.3-13.8-43.5-29.6-59.8c-20.4-21.2-33.1-50-33.4-81.7   c-0.7-66.6,52.3-120.5,118.9-121C308.7,113.1,362.7,166.9,362.7,233.3z M256.5,160.8c0-7.4-6-13.5-13.5-13.5   c-47.6,0-86.4,38.7-86.4,86.4c0,7.4,6,13.5,13.5,13.5c7.4,0,13.5-6,13.5-13.5c0-32.8,26.7-59.4,59.4-59.4   C250.5,174.3,256.5,168.3,256.5,160.8z M243,74.3c7.4,0,13.5-6,13.5-13.5V13.5c0-7.4-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v47.3   C229.5,68.3,235.6,74.3,243,74.3z M84.1,233.2c0-7.4-6-13.5-13.5-13.5H23.3c-7.4,0-13.5,6-13.5,13.5c0,7.4,6,13.5,13.5,13.5h47.3   C78.1,246.7,84.1,240.7,84.1,233.2z M462.7,219.7h-47.3c-7.4,0-13.5,6-13.5,13.5c0,7.4,6,13.5,13.5,13.5h47.3   c7.4,0,13.5-6,13.5-13.5C476.2,225.8,470.2,219.7,462.7,219.7z M111.6,345.6l-33.5,33.5c-5.3,5.3-5.3,13.8,0,19.1   c2.6,2.6,6.1,3.9,9.5,3.9s6.9-1.3,9.5-3.9l33.5-33.5c5.3-5.3,5.3-13.8,0-19.1C125.4,340.3,116.8,340.3,111.6,345.6z M364.9,124.8   c3.4,0,6.9-1.3,9.5-3.9l33.5-33.5c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-33.5,33.5c-5.3,5.3-5.3,13.8,0,19.1   C358,123.5,361.4,124.8,364.9,124.8z M111.6,120.8c2.6,2.6,6.1,3.9,9.5,3.9s6.9-1.3,9.5-3.9c5.3-5.3,5.3-13.8,0-19.1L97.1,68.2   c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1L111.6,120.8z M374.4,345.6c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1   l33.5,33.5c2.6,2.6,6.1,3.9,9.5,3.9s6.9-1.3,9.5-3.9c5.3-5.3,5.3-13.8,0-19.1L374.4,345.6z"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Landing page</h3> - Конверсия до 30%</br>
                                - Адаптация под мобильные устройства</br>
                                - Предустановленная Яндекс.Метрика
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">25 000 &#8381;</div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3 img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 483.688 483.688" xml:space="preserve" class="svg pure-img replaced-svg">
                                    <g>
                                        <path d="M473.6,92.43c-8.7-10.6-21.9-16.5-35.6-16.5H140.7c-8.5,0-16.6,2.4-23.6,6.7l-15.2-53.1c-2.5-8.7-10.4-14.7-19.4-14.7H59.4   H15.3c-8.4,0-15.3,6.8-15.3,15.3v1.6c0,8.4,6.8,15.3,15.3,15.3h57.8l29.5,104.3l40.6,143.9c-23.1,5.8-40.2,26.7-40.2,51.5   c0,28.1,21.9,51.2,49.6,53c-2.3,6.6-3.4,13.9-2.8,21.4c2,25.4,22.7,45.9,48.1,47.6c30.3,2.1,55.6-22,55.6-51.8c0-6-1-11.7-2.9-17.1   h60.8c-2.5,7.1-3.5,15-2.6,23.1c2.8,24.6,23.1,44,47.9,45.8c30.3,2.1,55.7-21.9,55.7-51.8c0-28.9-24-52-52.8-52H156.5   c-9.9,0-18.3-7.7-18.7-17.5c-0.4-10.4,7.9-18.9,18.2-18.9h30.5h165.3h46.5c20.6,0,38.6-14.1,43.6-34.1l40.4-162.6   C485.8,117.83,482.6,103.53,473.6,92.43z M360.5,399.73c9.4,0,17.1,7.7,17.1,17.1s-7.7,17.1-17.1,17.1s-17.1-7.7-17.1-17.1   S351,399.73,360.5,399.73z M201.6,399.73c9.4,0,17.1,7.7,17.1,17.1s-7.7,17.1-17.1,17.1c-9.4,0-17.1-7.7-17.1-17.1   C184.5,407.43,192.1,399.73,201.6,399.73z M138.8,151.13l-7.8-27.5c-1.2-4.2,0.5-7.3,1.7-8.8c1.1-1.5,3.7-4,8-4h32.6l8.9,40.4   h-43.4V151.13z M148.6,185.93h41.2l8.2,37.4h-38.9L148.6,185.93z M186.5,293.53c-4.5,0-8.5-3-9.7-7.4l-7.9-28h36.7l7.8,35.3h-26.9   V293.53z M273.6,293.53H249l-7.8-35.3h32.3v35.3H273.6z M273.6,223.33h-40l-8.2-37.4h48.2V223.33z M273.6,151.13h-55.8l-8.9-40.4   h64.7V151.13z M336,293.53h-27.5v-35.3h34.9L336,293.53z M350.8,223.33h-42.3v-37.4h50.2L350.8,223.33z M308.5,151.13v-40.4h66   l-8.5,40.4H308.5z M408.2,285.93c-1.1,4.5-5.1,7.7-9.8,7.7h-26.8l7.5-35.3h36L408.2,285.93z M423.7,223.33h-37.3l7.9-37.4H433   L423.7,223.33z M448.5,123.23l-6.9,27.8h-40l8.5-40.4h28.6c4.3,0,6.8,2.4,7.9,3.9C447.8,116.03,449.6,119.13,448.5,123.23z"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Интернет магазин</h3> - Удобная система управления магазином
                                <br> - Адаптация под все устройства
                                <br> - Стабилен при больших нагрузках
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 120 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 70 000 &#8381;</div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3 img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 93.169 93.169" xml:space="preserve" class="svg pure-img replaced-svg">
                                    <g>
                                        <path d="M64.902,0H28.265c-3.711,0-6.72,3.009-6.72,6.72v79.729c0,3.712,3.008,6.72,6.72,6.72h36.637   c3.713,0,6.722-3.008,6.722-6.72V6.72C71.623,3.009,68.615,0,64.902,0z M42.088,3.973h8.991c0.323,0,0.586,0.263,0.586,0.587   c0,0.323-0.263,0.586-0.586,0.586h-8.991c-0.324,0-0.586-0.263-0.586-0.586C41.502,4.236,41.765,3.973,42.088,3.973z M33.126,2.563   c0.518,0,0.938,0.42,0.938,0.938c0,0.518-0.419,0.938-0.938,0.938s-0.938-0.42-0.938-0.938C32.188,2.983,32.608,2.563,33.126,2.563   z M28.876,2.001c0.829,0,1.5,0.672,1.5,1.5c0,0.828-0.671,1.5-1.5,1.5s-1.5-0.672-1.5-1.5C27.376,2.673,28.047,2.001,28.876,2.001z    M48.93,89.758h-4.691c-1.488,0-2.693-1.205-2.693-2.691c0-1.487,1.205-2.692,2.693-2.692h4.691c1.488,0,2.693,1.205,2.693,2.692   C51.623,88.553,50.418,89.758,48.93,89.758z M68.777,82.248H24.391V10.92h44.386V82.248z"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Мобильное приложение Android</h3> - Открытие нового канала продаж
                                <br> - Удержание старых клиентов и привлечение новых
                                <br> - Внедрение программы лояльности
                                <br> - Получение контактов клиентов
                                <br> - Автоматизация бизнес-процессов
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 25 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 19 000 &#8381;</div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3 img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 792 792" xml:space="preserve" class="svg pure-img replaced-svg">
                                    <g>
                                        <path d="M521.806,792c0,0,71.889,0,71.889-71.997V71.997C593.694,0,521.806,0,521.806,0H270.194c0,0-71.889,0-71.889,71.997   v648.006C198.306,792,270.194,792,270.194,792H521.806z M396,762.022c-19.841,0-35.944-16.104-35.944-35.944   c0-19.842,16.103-35.944,35.944-35.944c19.842,0,35.944,16.103,35.944,35.944C431.944,745.919,415.842,762.022,396,762.022z    M342.083,43.888c0-4.457,2.121-7.944,4.78-7.944h98.272c2.624,0,4.781,3.559,4.781,7.944v2.121c0,4.457-2.157,7.944-4.781,7.944   h-98.272c-2.624,0-4.78-3.559-4.78-7.944V43.888z M234.25,89.861h323.5v575.111h-323.5V89.861z"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Мобильное приложение iOS</h3> - Всё тоже самое при том,что аудитория более платёжеспособная,но меньшая по количеству пользователей
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 45 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 31 000 &#8381;</div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3 img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 486.742 486.742" xml:space="preserve" class="svg pure-img replaced-svg">
                                    <g>
                                        <g>
                                            <path d="M33,362.371v78.9c0,4.8,3.9,8.8,8.8,8.8h61c4.8,0,8.8-3.9,8.8-8.8v-138.8l-44.3,44.3    C57.9,356.071,45.9,361.471,33,362.371z"></path>
                                            <path d="M142,301.471v139.8c0,4.8,3.9,8.8,8.8,8.8h61c4.8,0,8.8-3.9,8.8-8.8v-82.3c-13.9-0.3-26.9-5.8-36.7-15.6L142,301.471z"></path>
                                            <path d="M251,350.271v91c0,4.8,3.9,8.8,8.8,8.8h61c4.8,0,8.8-3.9,8.8-8.8v-167.9l-69.9,69.9    C257,345.971,254.1,348.271,251,350.271z"></path>
                                            <path d="M432.7,170.171l-72.7,72.7v198.4c0,4.8,3.9,8.8,8.8,8.8h61c4.8,0,8.8-3.9,8.8-8.8v-265.6c-2-1.7-3.5-3.2-4.6-4.2    L432.7,170.171z"></path>
                                            <path d="M482.6,41.371c-2.9-3.1-7.3-4.7-12.9-4.7c-0.5,0-1.1,0-1.6,0c-28.4,1.3-56.7,2.7-85.1,4c-3.8,0.2-9,0.4-13.1,4.5    c-1.3,1.3-2.3,2.8-3.1,4.6c-4.2,9.1,1.7,15,4.5,17.8l7.1,7.2c4.9,5,9.9,10,14.9,14.9l-171.6,171.7l-77.1-77.1    c-4.6-4.6-10.8-7.2-17.4-7.2c-6.6,0-12.7,2.6-17.3,7.2L7.2,286.871c-9.6,9.6-9.6,25.1,0,34.7l4.6,4.6c4.6,4.6,10.8,7.2,17.4,7.2    s12.7-2.6,17.3-7.2l80.7-80.7l77.1,77.1c4.6,4.6,10.8,7.2,17.4,7.2c6.6,0,12.7-2.6,17.4-7.2l193.6-193.6l21.9,21.8    c2.6,2.6,6.2,6.2,11.7,6.2c2.3,0,4.6-0.6,7-1.9c1.6-0.9,3-1.9,4.2-3.1c4.3-4.3,5.1-9.8,5.3-14.1c0.8-18.4,1.7-36.8,2.6-55.3    l1.3-27.7C487,49.071,485.7,44.571,482.6,41.371z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Создание, внедрение CRM системы</h3> - Оптимизация бизнес-процессов
                                <br> - Контроль эффективности сотрудников
                                <br> - Ведение клиентов и учёт склада
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 130 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 85 000 &#8381;</div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3 img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 418.879 418.879" xml:space="preserve" class="svg pure-img replaced-svg">
                                    <g>
                                        <g>
                                            <path d="M188.634,234.066c8.462-5.287,16.126-11.735,22.767-19.127l23.942,13.826l21.8-37.76l-23.894-13.796    c3.038-9.275,4.825-19.113,5.16-29.311l27.183-4.793l-7.574-42.938l-27.178,4.793c-3.756-9.309-8.795-17.965-14.906-25.744    l17.766-21.17L200.3,30.022l-17.751,21.152c-8.67-4.646-18.059-8.119-27.954-10.203V13.385h-43.6v27.586    c-9.896,2.084-19.285,5.557-27.956,10.203l-17.75-21.152l-33.4,28.025l17.764,21.17c-6.11,7.779-11.149,16.436-14.905,25.744    L7.57,100.168L0,143.106l27.179,4.793c0.335,10.199,2.123,20.035,5.161,29.313L8.444,191.007l21.801,37.759l23.943-13.822    c6.639,7.389,14.303,13.838,22.766,19.125l-9.451,25.963l40.972,14.91l9.438-25.928c4.864,0.688,9.831,1.053,14.882,1.053    c5.051,0,10.019-0.363,14.883-1.053l9.437,25.93l40.97-14.914L188.634,234.066z M132.793,200.065    c-30.702,0-55.68-24.977-55.68-55.68c0-30.701,24.978-55.68,55.68-55.68s55.68,24.979,55.68,55.68    C188.473,175.088,163.496,200.065,132.793,200.065z"></path>
                                            <path d="M376.041,266.807l-18.795,6.08c-3.584-6.229-8.014-11.869-13.115-16.779l10.504-16.764l-26.447-16.57l-10.498,16.75    c-6.604-2.438-13.602-3.973-20.826-4.471l-2.725-19.559l-30.912,4.309l2.725,19.559c-6.809,2.453-13.125,5.847-18.812,9.996    l-14.672-13.244l-20.912,23.168l14.684,13.259c-3.562,6.118-6.277,12.752-8.02,19.726l-19.744-0.714l-1.129,31.188l19.743,0.716    c1.246,7.198,3.486,13.991,6.558,20.271l-15.578,12.143l19.185,24.615l15.609-12.164c5.438,4.582,11.511,8.396,18.031,11.311    l-4.138,19.344l30.522,6.52l4.133-19.314c3.516,0.01,7.072-0.229,10.652-0.727c3.582-0.498,7.07-1.25,10.447-2.215l9.256,17.451    l27.574-14.623l-9.266-17.471c5.48-4.586,10.271-9.918,14.252-15.812l18.338,7.436l11.727-28.924l-18.303-7.422    c1.234-6.875,1.529-14.027,0.764-21.293l18.799-6.084L376.041,266.807z M297.129,350.006    c-21.771,3.031-41.949-12.209-44.98-33.977c-3.037-21.769,12.207-41.949,33.977-44.979c21.768-3.036,41.941,12.207,44.98,33.978    C334.135,326.795,318.896,346.969,297.129,350.006z"></path>
                                            <path d="M418.146,158.647l0.732-24.629l-15.586-0.463c-0.977-5.428-2.723-10.803-5.285-15.971l12.24-9.67l-15.271-19.33    l-12.238,9.666c-4.365-3.627-9.193-6.584-14.318-8.816l3.164-15.291l-24.123-4.996l-3.17,15.281    c-5.559,0.008-11.156,0.797-16.641,2.412l-7.391-13.727l-21.695,11.684l7.391,13.729c-4.363,3.686-8.107,7.934-11.176,12.566    l-14.496-5.77l-9.111,22.893l14.508,5.779c-0.955,5.508-1.141,11.158-0.514,16.799l-14.809,4.898l7.732,23.395l14.809-4.896    c2.9,4.986,6.426,9.396,10.426,13.201l-8.191,13.268l20.963,12.946l8.209-13.292c5.285,1.896,10.828,3.051,16.453,3.414    l2.252,15.453l24.383-3.561l-2.246-15.434c2.602-0.957,5.17-2.109,7.684-3.463c2.516-1.352,4.891-2.867,7.123-4.51l11.648,10.371    l16.387-18.398l-11.656-10.383c2.795-4.9,4.875-10.164,6.203-15.619L418.146,158.647z M359.436,171.844    c-15.281,8.227-34.404,2.492-42.627-12.783c-8.23-15.277-2.494-34.404,12.787-42.627c15.273-8.229,34.395-2.49,42.625,12.787    C380.443,144.499,374.711,163.616,359.436,171.844z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Автоматизация создания документов</h3> - Экономия времени
                                <br> - Исключение ошибок
                                <br> - Сохранность документов
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 20 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 15 000 &#8381;</div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3 img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 94.5 94.5" xml:space="preserve" class="svg pure-img replaced-svg">
                                    <g>
                                        <g id="Layer_1_17_">
                                            <g>
                                                <g>
                                                    <g>
                                                        <path d="M84.762,41.232c-4.92,3.529-11.826,8.222-14.941,8.222c-0.617,0-0.815-0.186-0.959-0.361       c-1.272-1.568-0.928-7.066,1.025-16.335c0.193-0.918-0.291-1.841-1.152-2.204c-0.861-0.365-1.861-0.066-2.383,0.71       c-6.721,10.021-9.799,12.123-11.194,12.123c-1.979,0-3.99-5.692-5.986-16.92c-0.159-0.896-0.915-1.549-1.813-1.601v-0.011       c-0.019,0-0.037,0.004-0.056,0.004c-0.019,0-0.04-0.004-0.058-0.004v0.011c-0.895,0.052-1.649,0.705-1.811,1.601       c-1.998,11.228-4.011,16.92-5.988,16.92c-1.396,0-4.472-2.103-11.192-12.123c-0.521-0.776-1.521-1.075-2.384-0.71       c-0.862,0.363-1.346,1.286-1.152,2.204c1.952,9.269,2.299,14.767,1.024,16.335c-0.141,0.176-0.342,0.361-0.958,0.361       c-3.115,0-10.021-4.692-14.943-8.222c-0.778-0.559-1.845-0.468-2.52,0.209c-0.676,0.674-0.765,1.741-0.207,2.52       c11.253,14.392,9.135,30.91,9.135,30.91c-0.041,0.229-0.063,0.463-0.063,0.709c0,4.058,5.682,5.664,10.631,6.61       c5.453,1.045,12.635,1.627,20.266,1.647v0.002c0.073,0,0.147,0,0.22-0.002c0.073,0.002,0.146,0.002,0.221,0.002v-0.002       c7.629-0.021,14.812-0.603,20.263-1.647c4.95-0.946,10.633-2.555,10.633-6.61c0-0.246-0.022-0.479-0.063-0.709       c0,0-2.117-16.521,9.134-30.91c0.559-0.778,0.471-1.846-0.205-2.52C86.607,40.766,85.542,40.674,84.762,41.232z M47.522,78.238       h-0.015c-0.07,0-0.137,0.003-0.206,0.003c-0.07,0-0.135-0.003-0.205-0.003h-0.015c-12.127-0.035-20.144-1.446-23.682-2.657       c3.538-1.213,11.555-2.624,23.682-2.658h0.029c0.063,0,0.126,0,0.19,0s0.124,0,0.19,0h0.03       c12.126,0.034,20.142,1.445,23.681,2.658C67.664,76.792,59.648,78.203,47.522,78.238z"></path>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <circle cx="47.302" cy="16.573" r="5.914"></circle>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <circle cx="22.339" cy="23.718" r="4.928"></circle>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <circle cx="71.855" cy="23.718" r="4.928"></circle>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <circle cx="3.322" cy="37.759" r="3.322"></circle>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <circle cx="91.178" cy="37.759" r="3.322"></circle>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Брендирование</h3> - Создание логотипа
                                <br> - Создание фирменного стиля
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 3 500 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 2 700 &#8381;</div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3 img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 492.664 492.664" xml:space="preserve" class="svg pure-img replaced-svg">
                                    <g>
                                        <g>
                                            <path d="M246.332,0C110.286,0,0,110.286,0,246.332c0,136.045,110.286,246.332,246.332,246.332s246.332-110.287,246.332-246.332    C492.664,110.286,382.378,0,246.332,0z M246.332,448.686c-111.581,0-202.354-90.773-202.354-202.354    c0-111.578,90.773-202.354,202.354-202.354s202.354,90.773,202.354,202.354S357.913,448.686,246.332,448.686z"></path>
                                            <path d="M141.828,186.987H91.147c-5.008,13.052-8.429,26.875-9.994,41.258h56.5C138.299,214.132,139.709,200.32,141.828,186.987z"></path>
                                            <path d="M110.47,150.812h39.201c4.32-15.437,9.689-29.842,16.085-42.789c1.669-3.38,3.413-6.587,5.188-9.716    C146.771,110.672,126.015,128.77,110.47,150.812z"></path>
                                            <path d="M350.836,305.678h50.681c5.009-13.052,8.43-26.875,9.992-41.258h-56.497C354.366,278.532,352.955,292.344,350.836,305.678    z"></path>
                                            <path d="M355.012,228.245h56.5c-1.562-14.383-4.984-28.206-9.992-41.258h-50.682C352.955,200.32,354.366,214.132,355.012,228.245z    "></path>
                                            <path d="M326.909,384.639c-1.67,3.381-3.414,6.588-5.188,9.717c24.176-12.361,44.93-30.459,60.475-52.502h-39.2    C338.674,357.285,333.304,371.693,326.909,384.639z"></path>
                                            <path d="M342.99,150.812h39.201c-15.545-22.043-36.3-40.141-60.475-52.502c1.775,3.129,3.521,6.335,5.188,9.715    C333.304,120.971,338.674,135.379,342.99,150.812z"></path>
                                            <path d="M149.673,341.854H110.47c15.545,22.043,36.299,40.141,60.475,52.502c-1.775-3.129-3.52-6.336-5.188-9.717    C159.36,371.693,153.991,357.285,149.673,341.854z"></path>
                                            <path d="M137.653,264.42h-56.5c1.563,14.383,4.983,28.206,9.991,41.258h50.682C139.709,292.344,138.299,278.532,137.653,264.42z"></path>
                                            <path d="M264.42,86.158v64.654h40.894C294.986,119.049,280.05,96.339,264.42,86.158z"></path>
                                            <path d="M187.352,150.812h40.894V86.158C212.614,96.339,197.677,119.049,187.352,150.812z"></path>
                                            <path d="M178.435,305.678h49.811V264.42H173.85C174.569,278.99,176.15,292.788,178.435,305.678z"></path>
                                            <path d="M173.849,228.245h54.396v-41.258h-49.811C176.15,199.876,174.569,213.674,173.849,228.245z"></path>
                                            <path d="M264.42,186.987v41.258h54.396c-0.722-14.571-2.306-28.369-4.587-41.258H264.42z"></path>
                                            <path d="M264.42,305.678h49.811c2.281-12.887,3.865-26.686,4.587-41.258h-54.396L264.42,305.678L264.42,305.678z"></path>
                                            <path d="M228.245,406.507v-64.653h-40.893C197.677,373.616,212.614,396.326,228.245,406.507z"></path>
                                            <path d="M264.42,406.507c15.63-10.179,30.566-32.889,40.894-64.653H264.42V406.507z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Сайт компании</h3> - Ваш Бизнес работает 24/7
                                <br> - Тысячи людей хотят купить Ваши услуги или товар
                                <br> - Укрепление позиций Вашего бренда на рынке
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 35 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 30 000 &#8381;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="block-portfolio">
            <div class="content">
                <h1 class="title"><span>НАШИ РАБОТЫ</span></h1>
                <br>
            </div>
            <div class="pure-g">
                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="./img/portfolio_kp.png">
                        </div>
                        <div class="back">
                            Мы сделали систему автоматической генерации документов (сметы, формы КП и т.д.), а так же быстрый справочник по гигантской базе услуг и материалов, что позволило компании ООО «КОМИНТЕК» сэкономить очень много времени и сил.
                        </div>
                    </div>
                </div>
                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="./img/portfolio_starstyle.png">
                        </div>
                        <div class="back">
                            Салон красоты Star Style получил возможность привлекать платёжеспособную аудиторию, используя реферальную программу, созданную в приложении. А также: запись к мастеру из приложения, возможность уведомлять клиентов об акциях, получение данных клиентов.
                        </div>
                    </div>
                </div>
                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="./img/portfolio_books.png">
                        </div>
                        <div class="back">
                            Небольшая компания ООО «Агентство Окей» с помощью созданного нами landing page смогла найти множество новых клиентов.
                        </div>
                    </div>
                </div>
                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="./img/portfolio_tessi.png">
                        </div>
                        <div class="back">
                            Салон красоты Tessi получил дополнительный поток новых клиентов, а также возможность возвращать старых, тем самым снизив затраты на рекламу на 35%. Также появилась возможность допродать клиенту товар, сопутствующий предоставляемой услуге.
                        </div>
                    </div>
                </div>
                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="./img/portfolio_sushi.png">
                        </div>
                        <div class="back">
                            Android приложение для Сушибара. Владелец увеличил количество заказов на 30% уже через месяц после внедрения приложения. "Сарафанное радио" привлекло более 5% новых клиентов за месяц.
                        </div>
                    </div>
                </div>
                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="./img/portfolio_fxhelper.png">
                        </div>
                        <div class="back">
                            FSHelper - помощник для виртуальных пилотов. Предоставляет доступ к навигационным картам, траффику, а также расчитывает количество топлива для полёта. Данное приложение было в ТОП 2 в Китае, ТОП 176 в России, ТОП 17 в Италии.Более 4700 загрузок. Имеется платная версия.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="block-motivation">
            <div class="content">
                <h1 class="title"><span>СОМНЕВАЕТЕСЬ?</span></h1>
                <br>
                <br>
                <div id="motivation">
                    <ul>
                        <li>Наша студия ориентирована исключительно на малый и средний бизнес,поэтому мы знаем как решить Ваши проблемы.</li>
                        <li>Мы не используем шаблонов ни в каком виде,проводим аудит Вашего бизнеса в индивидуальном порядке.</li>
                        <li>Более 5 часов в день Ваши клиенты находятся в сети - Мы знаем как обратить их внимание на Ваш товар/услугу.</li>
                        <li>Поднимаем и фиксируем показатели результативности Вашего бизнеса.</li>
                        <li>Выдерживаем оговоренны.</li>
                    </ul>
                    <br>
                    Пока Вы сомневаетесь, Ваши конкуренты делают. Свяжитесь с нами для проведения аудита и мы подскажем какая именно услуга будет максимально полезной для Вас сейчас.
                </div>
            </div>
        </div>
        <svg class="angled-section svg-bottom" preserveAspectRatio="none" viewBox="0 0 86 86" width="100%" height="86">
            <polygon points="0,0 0,86 86,0" style="fill:#ffffff;"></polygon>
        </svg>
        <div id="footer-mark"></div>
    </div>
    <div id="block-footer">
        <div class="content">
            <h1 class="title"><span>ОТПРАВЬТЕ ЗАЯВКУ</span></h1>
            <div id="application">
                <form class="pure-form pure-form-aligned pure-g">
                    <fieldset>
                        <div class="pure-control-group">
                            <input id="email" type="email" placeholder="Ваш Email" required>
                        </div>
                        <div class="pure-control-group">
                            <input id="phone" type="text" placeholder="Ваш номер телефона">
                        </div>
                        <div class="pure-control-group">
                            <textarea id="comment" rows="3" placeholder="Дополнительная информация"></textarea>
                        </div>
                        <button id="send-application" class="pure-button pure-button-primary">ОТПРАВИТЬ</button>
                    </fieldset>
                </form>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-lg-1-2" align="center">
                    <p>КОНТАКТЫ</p>
                    <br> Email <span>info@live-to-create.ru</span>
                    <br> Телефон <span>+7 (910) 400-60-04</span>
                </div>
                <div class="pure-u-1 pure-u-lg-1-2" align="center">
                    <p>ПАРТНЁРСТВО</p>
                    <br>
                    <p>Работаем по системе win-win.
                        <br>Все предложения пишите на почту
                        <br><span>partners@live-to-create.ru</span></p>
                </div>
            </div>
            <br>
            <div class="addition">
                <div class="addition-title">Не нашли решение Вашей проблемы?</div>
                Наши специалисты проконсультируют Вас и подарят скидку 5% на наше решение.
                <div class="pure-form pure-g">
                    <input type="email" class="pure-input pure-u-2-3 pure-u-lg-5-6" id="addition-email" placeholder="Укажите Ваш email и мы решим Вашу проблему" required>
                    <button type="submit" class="pure-u-1-3 pure-u-lg-1-6 pure-button pure-button-primary" id="addition-send">ОТПРАВИТЬ</button>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy;2016 LiveToCreate.
            <br class="media-br"> Выводим ваш бизнес на новый уровень. Все права защищены.
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span id="modal-close" class="close icon-cross"></span>
                <h2 id="modal-title"></h2>
            </div>
            <div class="modal-body">
                <div class="modal-description">
                    <div id="modal-image"></div>
                    <div id="modal-description"></div>
                </div>
                <br>
                <b id="modal-list-title"></b>
                <br><br>
                <ul id="modal-list"></ul>
                <br><br>
                <b>Полезно знать:</b><br>
                <div id="modal-addition"></div>
            </div>
            <div class="modal-footer">
                <div id="modal-question"></div>
                <div class="pure-form pure-g">
                    <input type="email" class="pure-input pure-u-2-3 pure-u-lg-5-6" id="modal-email" placeholder="Укажите Ваш email" required>
                    <button type="submit" class="pure-u-1-3 pure-u-lg-1-6 pure-button pure-button-primary" id="modal-send">ОТПРАВИТЬ</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/index-script.js"></script>
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40618535 = new Ya.Metrika({ id:40618535, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/40618535" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>

</html>
