<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LiveToCreate</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/index-style.css">
    <link rel="stylesheet" href="./css/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="./css/grids-responsive-min.css">
    <!--<![endif]-->
</head>

<body>
    <div id="menu">
        <ul class="topnav" id="topnav">
            <li class="logo"><a href="#block-first">L2C</a></li>
            <li><a href="#block-about">О НАС</a></li>
            <li><a href="#block-timeline">ЭТАПЫ</a></li>
            <li><a href="#block-services">УСЛУГИ</a></li>
            <li><a href="#block-portfolio">ПОРТФОЛИО</a></li>
            <li><a href="#footer-mark" class="order">ЗАКАЗАТЬ</a></li>
            <li class="icon">
                <a id="menu-toggle">☰</a>
            </li>
        </ul>
    </div>
    <div class="content-vertical">
        <div id="block-first">
            <div class="white-area left"></div>
            <div class="white-area right"></div>
            <div class="white-area middle"></div>
        </div>
        <div id="block-about">
            <div class="content">
                <h1 class="title"><span>ВАМ НУЖНО ЗНАТЬ, ЧТО МЫ - ЭТО...</span></h1>
                <div class="pure-g">
                    <div class="pure-u-1" align="center">
                        <div class="about-item top">
                            <div class="connection left"></div>
                            <div class="connection right"></div>
                            <div class="circle">
                                <div class="circle-inner">
                                    <div class="circle-wrapper">
                                        <div class="circle-content">
                                            <h1>Постоянство</h1>Готовы к длительному сотрудничеству. 24/7 на связи с Вами.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-3">
                        <div class="about-item left">
                            <div class="connection right"></div>
                            <div class="circle">
                                <div class="circle-inner">
                                    <div class="circle-wrapper">
                                        <div class="circle-content">
                                            <h1>Качество</h1>Наша работа соответсвует Вашим ожиданиям, изложенным в техническом задании.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-3">
                        <div class="about-item middle">
                            <div class="circle">
                                <div class="circle-inner">
                                    <div class="circle-wrapper">
                                        <div class="circle-content">
                                            <h1>Яндекс.Директ</h1>Ваш сайт в ТОПе Яндекса. Мы занимаемся продвижением только в Яндекс.Директ и делаем это на 100% качественно.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-3">
                        <div class="about-item right">
                            <div class="connection left"></div>
                            <div class="circle">
                                <div class="circle-inner">
                                    <div class="circle-wrapper">
                                        <div class="circle-content">
                                            <h1>Лояльность</h1>3 месяца обслуживания в подарок! Скидки от партнёров.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1" align="center">
                        <div class="about-item bottom">
                            <div class="circle">
                                <div class="circle-inner">
                                    <div class="circle-wrapper">
                                        <div class="circle-content">
                                            <h1>Знания</h1>Мы знаем как поднять ваш бизнес на новый уровень с помощью web-технологий.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h3 id="about-addition"><span>А ещё:</span> SEO оптимизация, адаптация под мобильные устройства, быстрая загрузка сайта, уникальный контент, подключение метрик, контроль качества на всех этапах, соблюдение сроков и анализ Ваших бизнес-процессов.</h3>
                <br>
            </div>
        </div>
        <div id="block-timeline">
            <div class="content">
                <h1 class="title"><span>ЭТАПЫ РАБОТЫ НАД ВАШИМ ПРОЕКТОМ</span></h1>
                <br>
                <div class="screen monitor">
                    <div class="monitor-content">
                        <div id="development-timeline">

                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-stats-bars"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 1</h2>
                                    <p>Анализируем Вашу целевую аудиторию и сферу Вашего бизнеса.</p>
                                </div>
                            </div>

                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-paste"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 2</h2>
                                    <p>Составляем техническое задание вместе с Вами.</p>
                                </div>
                            </div>

                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-stack"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 3</h2>
                                    <p>Создаём дизайн и согласовываем его с Вами, вносим правки.</p>
                                </div>
                            </div>

                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-embed2"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 4</h2>
                                    <p>Разрабатываем проект.</p>
                                </div>
                            </div>

                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-meter"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 5</h2>
                                    <p>Проводим проверку качества.</p>
                                </div>
                            </div>

                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-user-check"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 6</h2>
                                    <p>Обучаем Вас управленю Вашим проектом.</p>
                                </div>
                            </div>

                            <div class="timeline-block">
                                <div class="timeline-img">
                                    <span class="icon icon-trophy"></span>
                                </div>
                                <div class="timeline-content">
                                    <h2>Этап 7</h2>
                                    <p>Сдаём проект. По Вашему желанию заключаем договор на обслуживание.</p>
                                    <span>2 месяца обслуживания в подарок!</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="base">
                        <div class="grey-shadow"></div>
                        <div class="foot top"></div>
                        <div class="foot bottom"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="block-services">
            <div class="content">
                <h1 class="title"><span>НАШИ УСЛУГИ</span></h1>
                <br>
                <br>
                <div class="pure-g">

                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3">
                                <img class="pure-img" src="./img/test.jpg">
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Landing page</h3>
                                - Конверсия до 30%</br>
                                - Адаптация под мобильные устройства</br>
                                - Предустановленная Яндекс.Метрика</br>
                                - Настройка почты с Вашим доменом (example@yourdomain.ru)</br>
                                - Панель управления Landing page
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">25 000 &#8381;</div>
                        </div>
                    </div>

                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3">
                                <img class="pure-img" src="./img/test.jpg">
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Интернет магазин</h3>
                                - Удобная система управления магазином<br>
                                - Адаптация под все устройства<br>
                                - Стабилен при больших нагрузках
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 120 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 70 000 &#8381;</div>
                        </div>
                    </div>

                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3">
                                <img class="pure-img" src="./img/test.jpg">
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Мобильное приложение Android</h3>
                                - Открытие нового канала продаж<br>
                                - Удержание старых клиентов и привлечение новых<br>
                                - Внедрение программы лояльности<br>
                                - Получение контактов клиентов<br>
                                - Автоматизация бизнес-процессов
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 25 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 19 000 &#8381;</div>
                        </div>
                    </div>

                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3">
                                <img class="pure-img" src="./img/test.jpg">
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Мобильное приложение iOS</h3>
                                - Всё тоже самое при том,что аудитория более платёжеспособная,но меньшая по количеству пользователей
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 45 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 31 000 &#8381;</div>
                        </div>
                    </div>

                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3">
                                <img class="pure-img" src="./img/test.jpg">
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Создание, внедрение CRM системы</h3>
                                - Оптимизация бизнес-процессов<br>
                                - Контроль эффективности сотрудников<br>
                                - Ведение клиентов и учёт склада
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 130 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 85 000 &#8381;</div>
                        </div>
                    </div>

                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3">
                                <img class="pure-img" src="./img/test.jpg">
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Автоматизация создания документов</h3>
                                - Экономия времени<br>
                                - Исключение ошибок<br>
                                - Сохранность документов
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 20 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 15 000 &#8381;</div>
                        </div>
                    </div>

                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3">
                                <img class="pure-img" src="./img/test.jpg">
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Брендирование</h3>
                                - Создание логотипа<br>
                                - Создание фирменного стиля
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 3 500 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 2 700 &#8381;</div>
                        </div>
                    </div>

                    <div class="pure-u-1 pure-u-lg-1-2 project-description">
                        <div class="pure-g price-block">
                            <div class="pure-u-1-3">
                                <img class="pure-img" src="./img/test.jpg">
                            </div>
                            <div class="pure-u-2-3 text">
                                <h3>Сайт компании</h3>
                                - Ваш Бизнес работает 24/7<br>
                                - Тысячи людей хотят купить Ваши услуги или товар<br>
                                - Укрепление позиций Вашего бренда на рынке
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-3 price">от 35 000 &#8381;</div>
                            <div class="pure-u-1-3 price discount">от 30 000 &#8381;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="block-portfolio">
            <div class="content">
                    <h1 class="title"><span>НАШИ РАБОТЫ</span></h1>
                    <br>
                    <br>
            </div>
            <div class="pure-g">

                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="./img/portfolio_kp.png">
                        </div>
                        <div class="back">
                            Мы сделали систему автоматической генерации документов (сметы, формы КП и т.д.), а так же быстрый справочник по гигантской базе услуг и материалов, что позволило компании ООО «КОМИНТЕК» сэкономить очень много времени и сил.
                        </div>
                    </div>
                </div>

                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="./img/portfolio_books.png">
                        </div>
                        <div class="back">
                            Небольшая компания ООО «Агентство Окей» с помощью созданного нами landing page смогла найти множество новых клиентов.
                        </div>
                    </div>
                </div>

                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="http://placehold.it/400x400">
                        </div>
                        <div class="back">
                            Описание работы над данным проектом
                        </div>
                    </div>
                </div>

                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="http://placehold.it/400x400">
                        </div>
                        <div class="back">
                            Описание работы над данным проектом
                        </div>
                    </div>
                </div>

                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="http://placehold.it/400x400">
                        </div>
                        <div class="back">
                            Описание работы над данным проектом
                        </div>
                    </div>
                </div>

                <div class="flip-container pure-u-1-3 pure-u-lg-1-6" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="pure-img" src="http://placehold.it/400x400">
                        </div>
                        <div class="back">
                            Описание работы над данным проектом
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="block-motivation">
            <div class="content">
                <h1 class="title"><span>ЗАЧЕМ МЫ ЭТО ДЕЛАЕМ?</span></h1>
                <br>
                <br>
                <div class="motivation">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto, esse repellat aliquam voluptatem dolores odit quas, modi voluptas explicabo ipsam libero, vel debitis eum dolor dolore doloremque enim ab.
                </div>
            </div>
        </div>
        <svg class="angled-section svg-bottom" preserveAspectRatio="none" viewBox="0 0 86 86" width="100%" height="86"><polygon points="0,0 0,86 86,0" style="fill:#ffffff;"></polygon></svg>

        <div id="footer-mark"></div>
    </div>

    <div id="block-footer">
        <div class="content">
            <h1 class="title"><span>ОТПРАВЬТЕ ЗАЯВКУ</span></h1>
            <div id="application">
                <form class="pure-form pure-form-aligned pure-g">
                    <fieldset>
                        <div class="pure-control-group">
                            <input id="name" type="text" placeholder="Ваше имя">
                        </div>

                        <div class="pure-control-group">
                            <input id="email" type="email" placeholder="Ваш Email" required>
                        </div>

                        <div class="pure-control-group">
                            <input id="phone" type="text" placeholder="Ваш номер телефона">
                        </div>

                        <div class="pure-control-group">
                            <textarea id="comment" rows="3"></textarea>
                        </div>

                        <button id="send-application" class="pure-button pure-button-primary">ОТПРАВИТЬ</button>
                    </fieldset>
                </form>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-lg-1-2" align="center">
                    <p>КОНТАКТЫ</p>
                    <br> Email <span>info@live-to-create.ru</span>
                    <br> Телефон <span>+7 (910) 400-60-04</span>
                </div>
                <div class="pure-u-1 pure-u-lg-1-2" align="center">
                    <p>ПАРТНЁРСТВО</p>
                    <br>
                    <p>Работаем по системе win-win.
                        <br>Все предложения пишите на почту
                        <br><span>partners@live-to-create.ru</span></p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy;2016 LiveToCreate.
            <br class="media-br"> Выводим ваш бизнес на новый уровень. Все права защищены.
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/index-script.js"></script>
</body>

</html>
