/* STUFF */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?t3ea93");
  src: url("../fonts/icomoon.eot?t3ea93#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?t3ea93") format("truetype"), url("../fonts/icomoon.woff?t3ea93") format("woff"), url("../fonts/icomoon.svg?t3ea93#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-paste:before {
  content: "\e92d"; }

.icon-stack:before {
  content: "\e92e"; }

.icon-user-check:before {
  content: "\e975"; }

.icon-stats-bars:before {
  content: "\e99c"; }

.icon-trophy:before {
  content: "\e99e"; }

.icon-gift:before {
  content: "\e99f"; }

.icon-meter:before {
  content: "\e9a6"; }

.icon-shield:before {
  content: "\e9b4"; }

.icon-menu:before {
  content: "\e9bd"; }

.icon-embed2:before {
  content: "\ea80"; }

.media-br {
  display: none; }

@media (max-width: 62em) {
  .media-br {
    display: block; } }

@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?") format("eot"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype"), url('../fonts/SegoeUIRegular/SegoeUIRegular.svg#str-replace("SegoeUIRegular", " ", "_")') format("svg"); }

@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?") format("eot"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype"), url('../fonts/SegoeUIBold/SegoeUIBold.svg#str-replace("SegoeUIBold", " ", "_")') format("svg"); }

@font-face {
  font-family: "SegoeUIItalic";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?") format("eot"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype"), url('../fonts/SegoeUIItalic/SegoeUIItalic.svg#str-replace("SegoeUIItalic", " ", "_")') format("svg"); }

@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?") format("eot"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype"), url('../fonts/SegoeUILight/SegoeUILight.svg#str-replace("SegoeUILight", " ", "_")') format("svg"); }

@font-face {
  font-family: "SegoeUISemiBold";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?") format("eot"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype"), url('../fonts/SegoeUISemiBold/SegoeUISemiBold.svg#str-replace("SegoeUISemiBold", " ", "_")') format("svg"); }

* {
  margin: 0;
  padding: 0;
  font-family: "SegoeUILight";
  font-style: normal;
  font-variant: normal;
  font-weight: 100; }

.content {
  margin: 0 15%; }

.content-vertical {
  margin-bottom: 650px; }

@media (max-width: 62em) {
  .content-vertical {
    margin-bottom: 1050px; } }

.title {
  position: relative;
  text-align: center;
  z-index: 2;
  font-size: 1.75em; }

.title span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1; }

.title:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 55%;
  width: 100%; }

.title:before {
  left: 0; }

@media (max-width: 62em) {
  .content {
    margin: 0 2%; }
  .title {
    font-size: 3.5em;
    margin-bottom: 2vh; }
  .title:before {
    display: none; } }

/* MENU */
#menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 49px;
  background-color: #333; }
  #menu ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center; }
    #menu ul.topnav li {
      float: left; }
    #menu ul.topnav li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 20px;
      line-height: 20px; }
    #menu ul.topnav li:not(.logo) a:hover {
      background-color: #555;
      border-bottom: 1px solid #2ebcdd; }
    #menu ul.topnav li.icon {
      display: none; }
    #menu ul.topnav a.order {
      color: #2ebcdd; }
    @media (max-width: 62em) {
      #menu ul.topnav li:not(.logo) {
        border-bottom: none; }
      #menu ul.topnav li a {
        font-size: 80px;
        line-height: 80px; }
      #menu ul.topnav li.logo {
        float: none;
        display: inline; }
      #menu ul.topnav li:not(:first-child) {
        display: none; }
      #menu ul.topnav li.icon {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0; }
      #menu ul.topnav.responsive {
        position: relative; }
      #menu ul.topnav.responsive li {
        float: none;
        display: inline; }
      #menu ul.topnav.responsive li a {
        display: block; }
      #menu ul.topnav.responsive li:not(:first-child) a {
        background-color: #222; } }

/* FIRST BLOCK */
#block-first {
  height: 100vh;
  background: url(/img/bg-top.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #block-first:before, #block-first:after {
    position: absolute;
    content: '';
    width: 6vh;
    height: 5vh;
    background: white;
    top: 93vh; }
  #block-first:before {
    -webkit-transform: rotate(28deg);
    -webkit-transform-origin: 0 0;
    -ms-transform: rotate(28deg);
    -ms-transform-origin: 0 0;
    transform: rotate(28deg);
    transform-origin: 0 0;
    left: calc(50% - 5vh); }
  #block-first:after {
    -webkit-transform: rotate(-28deg);
    -webkit-transform-origin: 100% 0;
    -ms-transform: rotate(-28deg);
    -ms-transform-origin: 100% 0;
    transform: rotate(-28deg);
    transform-origin: 100% 0;
    left: calc(50% - 0.9vh); }
  #block-first .white-area {
    position: absolute;
    background: white;
    width: calc(50% - 5vh);
    height: 3vh;
    bottom: 4vh; }
  #block-first .white-area.left {
    left: 0; }
  #block-first .white-area.right {
    right: 0; }
  #block-first .white-area.middle {
    width: 100%;
    height: 4.1vh;
    bottom: 0; }

/* SECOND BLOCK */
#block-about {
  background-color: white;
  margin-top: -2vh;
  padding-top: 30px; }
  #block-about .circle {
    position: relative;
    display: block;
    margin: 2em;
    background-color: transparent;
    color: #222;
    text-align: center; }
  #block-about .circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #ddd;
    content: "";
    -webkit-box-shadow: 0px 2px 8px 0px #858585;
    -moz-box-shadow: 0px 2px 8px 0px #858585;
    box-shadow: 0px 2px 8px 0px #858585; }
  #block-about .circle:hover:after {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #block-about .circle-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #block-about .circle-wrapper {
    display: table;
    width: 100%;
    height: 100%; }
  #block-about .circle-content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle; }
  #block-about .about-item {
    box-sizing: border-box; }
  #block-about .about-item .connection {
    color: #2ebcdd;
    border: 3px dashed;
    width: 33vw;
    display: block; }
  #block-about .about-item .connection.right {
    -webkit-transform-origin: -16.5vw 0;
    -moz-transform-origin: -16.5vw 0;
    -o-transform-origin: -16.5vw 0;
    -ms-transform-origin: -16.5vw 0;
    transform-origin: -16.5vw 0;
    transform: translate(16.5vw) rotate(45deg); }
  #block-about .about-item .connection.left {
    transform: translate(7vw) rotate(-45deg) translate(-32vw); }
  #block-about .about-item.middle .circle:after {
    background-color: #2ebcdd; }
  #block-about .about-item.middle .circle-content {
    color: white; }
  #block-about .about-item.top,
  #block-about .about-item.bottom {
    width: 33.33333%; }
  @media (max-width: 80em) {
    #block-about .circle {
      margin: 0.5em; }
    #block-about .circle-content {
      font-size: 0.8em; } }
  @media (max-width: 62em) {
    #block-about .about-item.top .circle-inner:after {
      display: none; }
    #block-about .circle:after {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
    #block-about .circle-content {
      font-size: 3em; }
    #block-about .about-item.top,
    #block-about .about-item.bottom {
      width: 100%; }
    #block-about .about-item .connection {
      display: none; } }
  #block-about #about-addition {
    font-size: 1em;
    color: #3f3f3f; }
    #block-about #about-addition span {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      padding: 2px 4px;
      background-color: #2ebcdd;
      color: white;
      font-family: "SegoeUISemiBold"; }
  @media (max-width: 62em) {
    #block-about #about-addition {
      font-size: 2em; } }

/* THIRD BLOCK */
#block-timeline {
  padding-top: 2.645vh;
  padding-bottom: 60px;
  background-color: #2ebcdd; }
  #block-timeline:before {
    content: '';
    position: relative;
    width: 0;
    height: 0;
    border-left: 5.29vh solid transparent;
    border-right: 5.29vh solid transparent;
    border-top: 2.81vh solid white;
    left: 50%;
    top: 0;
    margin-left: -5.29vh; }
  #block-timeline .title span {
    background-color: #2ebcdd;
    color: white; }
  #block-timeline .title:before {
    background-color: #fff; }
  #block-timeline .screen {
    width: 60vw;
    height: 33.33333vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #2ebcdd;
    border: 20px solid #474e5d;
    border-radius: 10px; }
  @media (max-width: 62em) {
    #block-timeline .screen {
      visibility: hidden; } }
  #block-timeline .monitor > div {
    position: absolute; }
  #block-timeline .monitor:before,
  #block-timeline .monitor:after {
    content: "";
    position: absolute;
    left: 50%; }
  #block-timeline .monitor:before {
    top: -10px;
    margin: -3px 0 0 -3px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #a5adbd; }
  #block-timeline .screen:after {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    bottom: -10px;
    margin: 0 0 -4px -4px;
    background: #e8ebf0; }
  #block-timeline .monitor-content {
    width: 60vw;
    height: 33.33333vw;
    left: 50%;
    margin-left: -29.9vw;
    overflow-x: hidden; }
  #block-timeline .monitor-content::-webkit-scrollbar {
    display: none; }
  #block-timeline .monitor-content:before {
    content: "";
    position: absolute;
    right: -90px;
    width: 200px;
    height: 300px;
    transform: rotate(45deg);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 5; }
  #block-timeline .base {
    width: 90px;
    height: 50px;
    bottom: -70px;
    left: 50%;
    margin-left: -45px;
    background: #e8ebf0; }
  #block-timeline .base:before,
  #block-timeline .base:after,
  #block-timeline .grey-shadow:before,
  #block-timeline .grey-shadow:after {
    content: "";
    position: absolute;
    top: 0; }
  #block-timeline .base:before {
    border-left: 13px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 50px solid #e8ebf0;
    left: -13px; }
  #block-timeline .base:after {
    border-right: 13px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 50px solid #e8ebf0;
    right: -13px; }
  #block-timeline .base > div {
    position: absolute; }
  #block-timeline .grey-shadow {
    width: 90px;
    height: 12px;
    background: #d8dbe1;
    top: 0; }
  #block-timeline .grey-shadow:before {
    border-left: 3px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 12px solid #d8dbe1;
    left: -3px;
    z-index: 2; }
  #block-timeline .grey-shadow:after {
    border-right: 3px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 12px solid #d8dbe1;
    right: -3px;
    z-index: 2; }
  #block-timeline .foot {
    background: #e8ebf0;
    z-index: 1; }
  #block-timeline .foot.top {
    width: 116px;
    height: 5px;
    bottom: -5px;
    left: 50%;
    margin-left: -58px; }
  #block-timeline .foot.top:before,
  #block-timeline .foot.top:after,
  #block-timeline .foot.bottom:before {
    content: "";
    position: absolute;
    top: 0px; }
  #block-timeline .foot.top:before {
    border-left: 16px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 5px solid #e8ebf0;
    left: -16px; }
  #block-timeline .foot.top:after {
    border-right: 16px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 5px solid #e8ebf0;
    right: -16px; }
  #block-timeline .foot.bottom {
    width: 150px;
    height: 5px;
    bottom: -10px;
    left: 50%;
    margin-left: -75px;
    z-index: 50; }

#development-timeline {
  visibility: visible;
  position: relative;
  padding: 2em 1em;
  left: -2px; }
  #development-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #f2f2f2; }
  @media (min-width: 62em) {
    #development-timeline::before {
      left: 50%;
      margin-left: -2px; } }

.timeline-block {
  position: relative;
  margin: 2em 0; }
  .timeline-block::after {
    clear: both;
    content: "";
    display: block; }
  .timeline-block:first-child {
    margin-top: 0; }
  .timeline-block:last-child {
    margin-bottom: 0; }
  @media (min-width: 62em) {
    .timeline-block {
      margin: 4em 0; }
      .timeline-block:first-child {
        margin-top: 0; }
      .timeline-block:last-child {
        margin-bottom: 0; } }

.timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 1em;
  background-color: white;
  text-align: center; }
  @media (min-width: 62em) {
    .timeline-img {
      width: 60px;
      height: 60px;
      left: 50%;
      margin-left: -30px;
      line-height: 60px;
      font-size: 1.6em;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden; } }

.timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed; }
  .timeline-content::after {
    clear: both;
    content: "";
    display: block; }
  .timeline-content h2 {
    font-family: 'SegoeUIBold';
    color: #303e49; }
  .timeline-content span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 4px;
    background-color: #2ebcdd;
    color: white;
    font-family: "SegoeUISemiBold"; }
  .timeline-content p {
    font-size: 13px;
    margin: 1em 0;
    line-height: 1.6; }
  .timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white; }
  @media (min-width: 48em) {
    .timeline-content h2 {
      font-size: 20px; }
    .timeline-content p {
      font-size: 16px; } }
  @media (min-width: 62em) {
    .timeline-content {
      margin-left: 0;
      padding: 1.6em;
      width: 37%; }
      .timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white; }
      .timeline-block:nth-child(2n) .timeline-content {
        float: right; }
        .timeline-block:nth-child(2n) .timeline-content::before {
          top: 24px;
          left: auto;
          right: 100%;
          border-color: transparent;
          border-right-color: white; } }

/* FORTH BLOCK */
#block-services {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white; }
  #block-services .price-block {
    min-height: 6em;
    -webkit-box-shadow: 0px 2px 8px 0px #858585;
    -moz-box-shadow: 0px 2px 8px 0px #858585;
    box-shadow: 0px 2px 8px 0px #858585; }
  #block-services .text {
    font-size: 0.9em;
    box-sizing: border-box;
    padding: 10px 15px; }
  #block-services h3 {
    font-family: "SegoeUIBold";
    padding-bottom: 5px;
    border-bottom: 1px solid #2ebcdd; }
  #block-services .price {
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: #2ebcdd;
    color: white;
    font-family: "SegoeUIBold";
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
  #block-services .price.discount {
    background-color: #f5b322;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0; }
  #block-services .project-description {
    box-sizing: border-box;
    margin-bottom: 3vw; }
    #block-services .project-description .pure-g:last-child .price:not(:last-child) {
      text-decoration: line-through;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      font-family: "SegoeUIRegular"; }
  #block-services .project-description:nth-child(2n+1) {
    padding-right: 2vw; }
  #block-services .project-description:nth-child(2n) {
    padding-left: 2vw; }
  #block-services .pure-u-2-3 {
    font-family: "SegoeUILight"; }
  @media (max-width: 62em) {
    #block-services .text {
      font-size: 1.7em; }
    #block-services .project-description {
      margin-bottom: 120px; }
    #block-services .price {
      font-size: 1.7em; }
    #block-services .project-description:nth-child(2n+1) {
      padding-right: 0px; }
    #block-services .project-description:nth-child(2n) {
      padding-left: 0px; } }

/* FIFTH BLOCK */
#block-portfolio {
  padding-top: 2.645vh;
  padding-bottom: 60px;
  background-color: #2ebcdd; }
  #block-portfolio:before {
    content: '';
    position: relative;
    width: 0;
    height: 0;
    border-left: 5.29vh solid transparent;
    border-right: 5.29vh solid transparent;
    border-top: 2.81vh solid white;
    left: 50%;
    top: 0;
    margin-left: -5.29vh; }
  #block-portfolio .title span {
    background-color: #2ebcdd;
    color: white; }
  #block-portfolio .title:before {
    background-color: #fff; }
  #block-portfolio .flip-container {
    perspective: 1000px;
    transform-style: preserve-3d; }
  #block-portfolio .flip-container:hover .back {
    transform: rotateY(0deg); }
  #block-portfolio .flip-container:hover .front {
    transform: rotateY(180deg); }
  #block-portfolio .flip-container,
  #block-portfolio .front,
  #block-portfolio .back {
    height: 16.49vw; }
  #block-portfolio .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }
  #block-portfolio .front,
  #block-portfolio .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0; }
  #block-portfolio .front {
    z-index: 2;
    transform: rotateY(0deg); }
  #block-portfolio .back {
    transform: rotateY(-180deg);
    box-sizing: border-box;
    padding-top: 20%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white; }
  @media (max-width: 62em) {
    #block-portfolio .flip-container,
    #block-portfolio .front,
    #block-portfolio .back {
      height: 33.3vw;
      font-size: 1.2em; } }

/* BLOCK SIX */
#block-motivation {
  padding-top: 2.645vh;
  background-color: white; }
  #block-motivation:before {
    content: '';
    position: relative;
    width: 0;
    height: 0;
    border-left: 5.29vh solid transparent;
    border-right: 5.29vh solid transparent;
    border-top: 2.81vh solid #2ebcdd;
    left: 50%;
    top: 0;
    margin-left: -5.29vh; }
  #block-motivation .motivation {
    font-size: 1.3em; }

/* FOOTER */
#block-footer {
  position: fixed;
  padding-top: 100px;
  width: 100%;
  background-color: #222222;
  z-index: -10;
  bottom: 0; }
  #block-footer .title span {
    background-color: #222222;
    color: white; }
  #block-footer .title:before {
    background-color: #fff; }
  #block-footer p {
    color: white;
    text-align: center; }
  #block-footer [class*="pure-u"] {
    box-sizing: border-box;
    font-family: 'SegoeUILight';
    padding-right: 5px;
    padding-left: 5px;
    color: white; }
  #block-footer span {
    color: #BC811A; }
  #block-footer .footer-bottom {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    color: #515151;
    background-color: #1b1b1b; }

@media (max-width: 62em) {
  #block-footer,
  .footer-bottom {
    font-size: 1.3em; }
  #block-footer .pure-u-1:first-child {
    margin-bottom: 2em; } }

#application {
  text-align: center;
  color: white;
  padding: 60px; }
  #application textarea {
    resize: none; }
  #application fieldset {
    width: 100%; }
  #application #send-application {
    width: 30%; }
  #application input, #application textarea {
    width: 50%;
    height: auto;
    margin: 0px auto;
    display: block;
    padding: 8px 16px;
    line-height: 1.428571429;
    color: #111 !important;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: none; }
  @media (max-width: 62em) {
    #application input, #application textarea {
      width: 80%; } }
