/* STUFF */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?t3ea93");
  src: url("../fonts/icomoon.eot?t3ea93#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?t3ea93") format("truetype"), url("../fonts/icomoon.woff?t3ea93") format("woff"), url("../fonts/icomoon.svg?t3ea93#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-paste:before {
  content: "\e92d"; }

.icon-stack:before {
  content: "\e92e"; }

.icon-user-check:before {
  content: "\e975"; }

.icon-stats-bars:before {
  content: "\e99c"; }

.icon-trophy:before {
  content: "\e99e"; }

.icon-gift:before {
  content: "\e99f"; }

.icon-meter:before {
  content: "\e9a6"; }

.icon-shield:before {
  content: "\e9b4"; }

.icon-embed2:before {
  content: "\ea80"; }

.media-br {
  display: none; }

@media (max-width: 62em) {
  .media-br {
    display: block; } }

@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?") format("eot"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype"), url('../fonts/SegoeUIRegular/SegoeUIRegular.svg#str-replace("SegoeUIRegular", " ", "_")') format("svg"); }

@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?") format("eot"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype"), url('../fonts/SegoeUIBold/SegoeUIBold.svg#str-replace("SegoeUIBold", " ", "_")') format("svg"); }

@font-face {
  font-family: "SegoeUIItalic";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?") format("eot"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype"), url('../fonts/SegoeUIItalic/SegoeUIItalic.svg#str-replace("SegoeUIItalic", " ", "_")') format("svg"); }

@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?") format("eot"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype"), url('../fonts/SegoeUILight/SegoeUILight.svg#str-replace("SegoeUILight", " ", "_")') format("svg"); }

@font-face {
  font-family: "SegoeUISemiBold";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?") format("eot"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype"), url('../fonts/SegoeUISemiBold/SegoeUISemiBold.svg#str-replace("SegoeUISemiBold", " ", "_")') format("svg"); }

* {
  margin: 0;
  padding: 0;
  font-family: "SegoeUILight";
  font-style: normal;
  font-variant: normal;
  font-weight: 100; }

.content {
  margin: 0 15%; }

.title {
  position: relative;
  text-align: center;
  z-index: 2;
  font-size: 1.75em; }

.title span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1; }

.title:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 55%;
  width: 100%; }

.title:before {
  left: 0; }

@media (max-width: 62em) {
  .content {
    margin: 0 2%; }
  .title {
    font-size: 3.5em;
    margin-bottom: 2vh; }
  .title:before {
    display: none; } }

/* MENU */
.menu-wrapper {
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  z-index: 100;
  position: fixed;
  white-space: nowrap;
  width: 100%;
  font-size: 1.5em;
  text-align: center; }

.menu-wrapper.dark,
.menu-wrapper.dark .menu-bottom:not(.menu-tucked) {
  background-color: #333333; }

.menu-wrapper.dark .menu-bottom > .pure-menu-list {
  height: 58px; }

.menu-wrapper.dark .pure-menu-link:hover {
  border-bottom: 2px solid #2ebcdd; }

.menu {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased; }

.menu .pure-menu-link,
.menu .pure-menu-heading {
  color: white;
  border-bottom: 0px solid #2ebcdd; }

.menu .pure-menu-link:hover {
  background-color: transparent;
  border-bottom: 1px solid #2ebcdd; }

.menu.pure-menu-horizontal {
  width: auto; }

.menu.pure-menu-horizontal.pure-menu-scrollable {
  padding: 0; }

.menu-top {
  position: relative; }

.menu-bottom .pure-menu-list .pure-menu-item:last-child .pure-menu-link {
  color: #2ebcdd; }

.menu-brand {
  display: block;
  text-align: center;
  position: relative; }

.menu-tucked {
  height: 58px;
  background-color: transparent; }

.menu-toggle {
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  display: none; }

.menu-toggle .bar {
  background-color: white;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 22px;
  right: 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

.menu-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px); }

.menu-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media (max-width: 62em) {
  .menu-wrapper {
    font-size: 3em; }
  .menu {
    display: block; }
  .menu-top {
    padding-left: 0; }
  .menu-toggle {
    display: block;
    display: none\9; }
  .menu-bottom {
    position: absolute;
    border-top: 1px solid #eee;
    background-color: #808080\9;
    z-index: 100; }
  .menu-bottom .pure-menu-link {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .menu-bottom.menu-tucked .pure-menu-link {
    -webkit-transform: translateX(-140px);
    -moz-transform: translateX(-140px);
    -ms-transform: translateX(-140px);
    transform: translateX(-140px);
    opacity: 0; }
  .pure-menu-horizontal.menu-tucked {
    z-index: -100;
    position: absolute;
    overflow: hidden;
    height: 10vh; }
  .menu-bottom.pure-menu-horizontal {
    width: 100%; } }

/* FIRST BLOCK */
#block-first {
  height: 100vh;
  background: url(/img/main-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#block-first:before,
#block-first:after {
  position: absolute;
  content: '';
  width: 6vh;
  height: 5vh;
  background: white;
  top: 93vh; }

#block-first:before {
  -webkit-transform: rotate(28deg);
  -webkit-transform-origin: 0 0;
  -ms-transform: rotate(28deg);
  -ms-transform-origin: 0 0;
  transform: rotate(28deg);
  transform-origin: 0 0;
  left: calc(50% - 5vh); }

#block-first:after {
  -webkit-transform: rotate(-28deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform: rotate(-28deg);
  -ms-transform-origin: 100% 0;
  transform: rotate(-28deg);
  transform-origin: 100% 0;
  left: calc(50% - 0.9vh); }

#block-first .white-area {
  position: absolute;
  background: white;
  width: calc(50% - 5vh);
  height: 3vh;
  bottom: 4vh; }

#block-first .white-area.left {
  left: 0; }

#block-first .white-area.right {
  right: 0; }

#block-first .white-area.middle {
  width: 100%;
  height: 4.1vh;
  bottom: 0; }

#block-second::before {
  position: absolute;
  content: '';
  background-color: white;
  width: 100%;
  top: 99%;
  height: 2vh;
  z-index: -1; }

/* SECOND BLOCK */
#block-second {
  background-color: white; }

#block-second {
  /*.title:before {
        background: $primary-blue;
    }*/ }
  #block-second .circle {
    position: relative;
    display: block;
    margin: 2em;
    background-color: transparent;
    color: #222;
    text-align: center; }
  #block-second .circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #ddd;
    content: "";
    -webkit-box-shadow: 0px 2px 8px 0px #858585;
    -moz-box-shadow: 0px 2px 8px 0px #858585;
    box-shadow: 0px 2px 8px 0px #858585; }
  #block-second .circle:hover:after {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #block-second .circle-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #block-second .circle-wrapper {
    display: table;
    width: 100%;
    height: 100%; }
  #block-second .circle-content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle; }
  #block-second .about-item {
    box-sizing: border-box; }
  #block-second .about-item .connection {
    color: #2ebcdd;
    border: 3px dashed;
    width: 33vw;
    display: block; }
  #block-second .about-item .connection.right {
    -webkit-transform-origin: -16.5vw 0;
    -moz-transform-origin: -16.5vw 0;
    -o-transform-origin: -16.5vw 0;
    -ms-transform-origin: -16.5vw 0;
    transform-origin: -16.5vw 0;
    transform: translate(16.5vw) rotate(45deg); }
  #block-second .about-item .connection.left {
    transform: translate(7vw) rotate(-45deg) translate(-32vw); }
  #block-second .about-item.middle .circle:after {
    background-color: #2ebcdd; }
  #block-second .about-item.middle .circle-content {
    color: white; }
  #block-second .about-item.top,
  #block-second .about-item.bottom {
    width: 33.33333%; }
  @media (max-width: 80em) {
    #block-second .circle {
      margin: 0.5em; }
    #block-second .circle-content {
      font-size: 0.8em; } }
  @media (max-width: 62em) {
    #block-second .about-item.top .circle-inner:after {
      display: none; }
    #block-second .circle:after {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
    #block-second .circle-content {
      font-size: 3em; }
    #block-second .about-item.top,
    #block-second .about-item.bottom {
      width: 100%; }
    #block-second .about-item .connection {
      display: none; } }

#about-addition {
  font-size: 1em;
  color: #3f3f3f; }
  #about-addition span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 4px;
    background-color: #2ebcdd;
    color: white;
    font-family: "SegoeUISemiBold"; }

@media (max-width: 62em) {
  #about-addition {
    font-size: 2em; } }

/* THIRD BLOCK */
#block-third {
  padding-top: 2.645vh;
  padding-bottom: 60px;
  background-color: #2ebcdd; }

#block-third:before {
  content: '';
  position: relative;
  width: 0;
  height: 0;
  border-left: 5.29vh solid transparent;
  border-right: 5.29vh solid transparent;
  border-top: 2.81vh solid white;
  left: 50%;
  top: 0;
  margin-left: -5.29vh; }

#block-third .screen {
  width: 60vw;
  height: 33.33333vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #2ebcdd;
  border: 20px solid #474e5d;
  border-radius: 10px; }

@media (max-width: 62em) {
  #block-third .screen {
    visibility: hidden; } }

#block-third .monitor > div {
  position: absolute; }

#block-third .monitor:before,
#block-third .monitor:after {
  content: "";
  position: absolute;
  left: 50%; }

#block-third .monitor:before {
  top: -10px;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #a5adbd; }

#block-third .screen:after {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  bottom: -10px;
  margin: 0 0 -4px -4px;
  background: #e8ebf0; }

#block-third .monitor-content {
  width: 60vw;
  height: 33.33333vw;
  left: 50%;
  margin-left: -29.9vw;
  overflow-x: hidden; }

#block-third .monitor-content::-webkit-scrollbar {
  display: none; }

#block-third .monitor-content:before {
  content: "";
  position: absolute;
  right: -90px;
  width: 200px;
  height: 300px;
  transform: rotate(45deg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 5; }

#block-third .base {
  width: 90px;
  height: 50px;
  bottom: -70px;
  left: 50%;
  margin-left: -45px;
  background: #e8ebf0; }

#block-third .base:before,
#block-third .base:after,
#block-third .grey-shadow:before,
#block-third .grey-shadow:after {
  content: "";
  position: absolute;
  top: 0; }

#block-third .base:before {
  border-left: 13px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 50px solid #e8ebf0;
  left: -13px; }

#block-third .base:after {
  border-right: 13px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 50px solid #e8ebf0;
  right: -13px; }

#block-third .base > div {
  position: absolute; }

#block-third .grey-shadow {
  width: 90px;
  height: 12px;
  background: #d8dbe1;
  top: 0; }

#block-third .grey-shadow:before {
  border-left: 3px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 12px solid #d8dbe1;
  left: -3px;
  z-index: 2; }

#block-third .grey-shadow:after {
  border-right: 3px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 12px solid #d8dbe1;
  right: -3px;
  z-index: 2; }

#block-third .foot {
  background: #e8ebf0;
  z-index: 1; }

#block-third .foot.top {
  width: 116px;
  height: 5px;
  bottom: -5px;
  left: 50%;
  margin-left: -58px; }

#block-third .foot.top:before,
#block-third .foot.top:after,
#block-third .foot.bottom:before {
  content: "";
  position: absolute;
  top: 0px; }

#block-third .foot.top:before {
  border-left: 16px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 5px solid #e8ebf0;
  left: -16px; }

#block-third .foot.top:after {
  border-right: 16px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 5px solid #e8ebf0;
  right: -16px; }

#block-third .foot.bottom {
  width: 150px;
  height: 5px;
  bottom: -10px;
  left: 50%;
  margin-left: -75px;
  z-index: 50; }

#block-third .title span {
  background-color: #2ebcdd;
  color: white; }

#block-third .title:before {
  background-color: #fff; }

#development-timeline {
  visibility: visible;
  position: relative;
  padding: 2em 1em;
  left: -2px; }
  #development-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #f2f2f2; }
  @media only screen and (min-width: 80em) {
    #development-timeline::before {
      left: 50%;
      margin-left: -2px; } }
  @media (max-width: 62em) {
    #development-timeline {
      padding: 2em -10vw; } }

.timeline-block {
  position: relative;
  margin: 2em 0; }
  .timeline-block::after {
    clear: both;
    content: "";
    display: block; }
  .timeline-block:first-child {
    margin-top: 0; }
  .timeline-block:last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: 80em) {
    .timeline-block {
      margin: 4em 0; }
      .timeline-block:first-child {
        margin-top: 0; }
      .timeline-block:last-child {
        margin-bottom: 0; } }

.timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 1em;
  background-color: white;
  text-align: center; }
  @media only screen and (min-width: 80em) {
    .timeline-img {
      width: 60px;
      height: 60px;
      left: 50%;
      margin-left: -30px;
      line-height: 60px;
      font-size: 1.6em;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden; } }

.timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed; }
  .timeline-content::after {
    clear: both;
    content: "";
    display: block; }
  .timeline-content h2 {
    font-family: 'SegoeUIBold';
    color: #303e49; }
  .timeline-content span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 4px;
    background-color: #2ebcdd;
    color: white;
    font-family: "SegoeUISemiBold"; }
  .timeline-content p {
    font-size: 13px;
    margin: 1em 0;
    line-height: 1.6; }
  .timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff; }
  @media only screen and (min-width: 48em) {
    .timeline-content h2 {
      font-size: 20px; }
    .timeline-content p {
      font-size: 16px; } }
  @media only screen and (min-width: 80em) {
    .timeline-content {
      margin-left: 0;
      padding: 1.6em;
      width: 37%; }
      .timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #ffffff; }
      .timeline-block:nth-child(2n) .timeline-content {
        float: right; }
        .timeline-block:nth-child(2n) .timeline-content::before {
          top: 24px;
          left: auto;
          right: 100%;
          border-color: transparent;
          border-right-color: #ffffff; } }

/* FORTH BLOCK */
#block-forth {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white; }
  #block-forth .price-block {
    min-height: 6em;
    -webkit-box-shadow: 0px 2px 8px 0px #858585;
    -moz-box-shadow: 0px 2px 8px 0px #858585;
    box-shadow: 0px 2px 8px 0px #858585; }
  #block-forth .text {
    font-size: 0.9em;
    box-sizing: border-box;
    padding: 10px 15px; }
  #block-forth h3 {
    font-family: "SegoeUIBold";
    padding-bottom: 5px;
    border-bottom: 1px solid #2ebcdd; }
  #block-forth .price {
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: #2ebcdd;
    color: white;
    font-family: "SegoeUIBold";
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
  #block-forth .price.discount {
    background-color: #f5b322;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0; }
  #block-forth .project-description {
    box-sizing: border-box;
    margin-bottom: 3vw; }
    #block-forth .project-description .pure-g:last-child .price:not(:last-child) {
      text-decoration: line-through;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0; }
  #block-forth .project-description:nth-child(2n+1) {
    padding-right: 2vw; }
  #block-forth .project-description:nth-child(2n) {
    padding-left: 2vw; }
  #block-forth .pure-u-2-3 {
    font-family: "SegoeUILight"; }
  @media (max-width: 62em) {
    #block-forth .text {
      font-size: 1.7em; }
    #block-forth .project-description {
      margin-bottom: 10px; }
    #block-forth .price {
      font-size: 1.7em; }
    #block-forth .project-description:nth-child(2n+1) {
      padding-right: 0px; }
    #block-forth .project-description:nth-child(2n) {
      padding-left: 0px; } }

/* FOOTER */
#block-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #222222; }

#block-footer p {
  color: white;
  text-align: center; }

#block-footer [class*="pure-u"] {
  box-sizing: border-box;
  font-family: 'SegoeUILight';
  padding-right: 5px;
  padding-left: 5px;
  color: white; }

#block-footer span {
  color: #BC811A; }

#block-footer-bottom {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #515151;
  background-color: #1b1b1b; }

@media (max-width: 62em) {
  #block-footer, #block-footer-bottom {
    font-size: 2em; }
  #block-footer .pure-u-1:first-child {
    margin-bottom: 2em; } }
