/* STUFF */

@import 'base';
@include font-face("SegoeUIRegular", "../fonts/SegoeUIRegular/SegoeUIRegular");
@include font-face("SegoeUIRBold", "../fonts/SegoeUIRBold/SegoeUIRBold");
@include font-face("SegoeUIItalic", "../fonts/SegoeUIItalic/SegoeUIItalic");
@include font-face("SegoeUILight", "../fonts/SegoeUILight/SegoeUILight");
@include font-face("SegoeUISemiBold", "../fonts/SegoeUISemiBold/SegoeUISemiBold");
$primary-blue: #2ebcdd;
* {
    margin: 0;
    padding: 0;
    font-family: "SegoeUILight";
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

.content {
    margin: 0 15%;
}

@media (max-width: 62em) {
    .content {
        margin: 0 2%;
    }
}

.title {
    text-align: center;
    left: 0;
    right: 0;
    z-index: 2;
    font-size: 28px
}


/* MENU */

@import 'menu';

/* FIRST BLOCK */

#block-first {
    height: 100vh;
    background: url(/img/main-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* FIRST BLOCK ARROW */

#block-first:before,
#block-first:after {
    position: absolute;
    content: '';
    width: 6vh;
    height: 5vh;
    background: white;
    top: 87%;
}

#block-first:before {
    -webkit-transform: rotate(28deg);
    -webkit-transform-origin: 0 0;
    -ms-transform: rotate(28deg);
    -ms-transform-origin: 0 0;
    transform: rotate(28deg);
    transform-origin: 0 0;
    left: calc(50% - 5vh);
}

#block-first:after {
    -webkit-transform: rotate(-28deg);
    -webkit-transform-origin: 100% 0;
    -ms-transform: rotate(-28deg);
    -ms-transform-origin: 100% 0;
    transform: rotate(-28deg);
    transform-origin: 100% 0;
    left: calc(50% - 0.9vh);
}

#block-first .white-area {
    position: absolute;
    background: white;
    width: calc(50% - 5vh);
    height: 3vh;
    bottom: 10vh;
}

#block-first .white-area.left {
    left: 0;
}

#block-first .white-area.right {
    right: 0;
}

#block-first .white-area.middle {
    width: 100%;
    height: 10.1vh;
    bottom: 0;
}

#block-second::before {
    position: absolute;
    content: '';
    background-color: white;
    width: 100%;
    top: 99%;
    height: 2vh;
    z-index: -1;
}


/* SECOND BLOCK */

#block-second {
    background-color: white;
}

.circle {
    position: relative;
    display: block;
    margin: 2em;
    background-color: transparent;
    color: #222;
    text-align: center;
}

.circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    @include border-radius(50%);
    background-color: #ddd;
    content: "";
}

.circle-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle-content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

.about-item {
    box-sizing: border-box;
    padding: 20px;
}

.about-item .connection {
    color: $primary-blue;
    border: 3px dashed;
    width: 33vw;
    display: block;

    @include transform-origin(-16.5vw 0);
    /*transform-origin: -16.5vw 0;*/
    transform: rotate(45deg);
}

.about-item.middle .circle:after {
    background-color: $primary-blue;
}

.about-item.middle .circle-content {
    color: white;
}

.about-item.top,
.about-item.bottom {
    width: 1/3 * 100%;
}

@media (max-width: 62em) {
    .about-item.top .circle-inner:after {
        display: none;
    }

    .circle:after {
        @include border-radius(0);
    }
    .circle-content {
        font-size: 3em;
    }
    .about-item.top,
    .about-item.bottom {
        width: 100%;
    }
}


/* THIRD BLOCK */

#block-third {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $primary-blue;
}

#block-third {
    @import 'monitor';
}

#block-third .title {
    color: white;
}


/* FORTH BLOCK */

#block-forth {
    height: 50vh;
    background-color: white;
}


/* FOOTER */

@import 'footer';
