$menu-normal-height: 49px;
$menu-normal-font: 20px;
$menu-mobile-font: 80px;

#menu {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: $menu-normal-height + 1px;
    background-color: rgba(51, 51, 51, 0.2);
    text-align: center;

    ul.topnav {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        right: 0;
        
        li {
            float: left;
        }

        li a {
            display: inline-block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: $menu-normal-font;
            line-height: $menu-normal-font;
        }

        li:not(.logo) a:hover {
            background-color: #555;
            border-bottom: 2px solid $primary-blue;
        }
    
        li.icon {
            display: none;
        }

        li.logo {
            margin-left: 30%;
        }

        /*li.logo a img {
            height: $menu-normal-height - 1px;
        }*/

        a.order {
            color: $primary-blue;
        }

        @media (max-width: 62em) {
            li:not(.logo) a:hover {
                border-bottom: 0;
            }

            li a {
                font-size: $menu-mobile-font;
                line-height: $menu-mobile-font;
            }

            li.logo {
                margin-left: 0;
            }


            li.logo {
                float: none;
                display: inline;
            }

            li:not(:first-child) {
                display: none;
            }

            li.icon {
                display: inline-block;
                position: absolute;
                right: 0;
                top: 0;
            }

            &.responsive {
                position: relative;
            }
            &.responsive li {
                float: none;
                display: inline;
            }
            &.responsive li a {
                display: block;
            }
            &.responsive li:not(:first-child) a {
                background-color: #222;
            }
        }
    }
}