$menu-normal-height: 58px;
$menu-mobile-height: 20vh;
$menu-normal-font-size: 1.5em;
$menu-mobile-font-size: 3em;

#menu {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: $menu-normal-height;

    ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        
        li {
            float: left;
        }

        li a {
            display: inline-block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 1.2em;
        }

        li:not(.logo) a:hover {
            background-color: #555;
            border-bottom: 1px solid $primary-blue;
        }
    
        li.icon {
            display: none;
        }

        li.logo {
            margin-left: 30px;
        }

        a.order {
            color: $primary-blue;
        }
    }

    @media (max-width: 62em) {
        ul.topnav li:not(:first-child) {
            display: none;
        }
        ul.topnav li.icon {
            float: right;
            display: inline-block;
        }

        ul.topnav.responsive {
            position: relative;
        }
        ul.topnav.responsive li.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        ul.topnav.responsive li {
            float: none;
            display: inline;
        }
        ul.topnav.responsive li a {
            display: block;
            text-align: left;
        }
    }
}
